body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #f8f8f8;
}

.container {
  margin-top: 30px;
}

#player {
  width: 480px; /* Medium size */
  height: 270px;
  margin: auto;
}

#timer {
  font-size: 18px;
  margin-top: 10px;
  color: #333;
}
